body{
    background-image: url("../images/58930.jpg");
}

.jumbotron .container {
    background-color: #e9ecef00;
}

.jumbotron {
    background-color: #e9ecef00;
}

.container{
    text-align: center;
}

.win-or-lose{
    font-size: 1.5em;
}

.crystal-image:hover {
    -webkit-animation-name: opacity; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: opacity;
    animation-duration: 2s;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes opacity {
    from {opacity: 0.5;}
    to {opacity: 1;}
}
  
  /* Standard syntax */
@keyframes opacity {
    from {opacity: 0.5;}
    to {opacity: 1;}
}

